[2015-03-21 02:40] neonichu opened #1 "Build multiple architectures"
Currently only one architecture is build.

[2015-03-21 02:42] neonichu opened #2 "Better UI"
Currently, there's way too much boilerplate in the Podfile, it should just be

[code]

also the command is kinda longish. So ideally, one would do something like:

[code]

and that would amend the Podfile for consumption by the actual `pod install` and also pass the extra arguments to it.

[2015-03-21 02:47] neonichu commented on #2
Maybe the platform needs to be specified? Would be kinda annoying to first go through all required specs to find out the common denominator of platforms.  ¯\_(ツ)_/¯

[2015-03-22 12:46] neonichu opened #3 "Support `--project-directory`"

[2015-03-23 03:45] segiddins commented on #3
Why isn't it supported already?

[2015-03-23 03:52] neonichu commented on #3
🍻 and 🎤, I guess 😜

[2015-03-24 20:46] #3 closed

[2015-03-24 22:06] neonichu commented on #1
Reopening, this wasn't actually fixed by #5

[2015-04-03 13:38] kylef opened #7 "cato causes rome to crash"
[code]

[code]

### Command

[code]

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2015-04-03 13:48] neonichu commented on #7
The issue here is that Rome 0.0.3 is incompatible with CP 0.36.3 => `gem install cocoapods-rome` :tada:

[2015-04-03 13:48] #7 closed

[2015-04-14 20:44] robb opened #8 "iOS frameworks should contain ARM slices"
When building a framework for iOS, for example AFNetworking:

[code]

Rome should also build slices for ARM CPUs. Currently the resulting framework only contains `i386` and `x86_64` slices:

[code]

[2015-04-14 20:56] neonichu commented on #8
Yep, that would make sense - this is basically what #1 is meant to do.

[2015-04-14 20:56] neonichu commented on #1
This is especially needed for iOS, as #8 states, there's no ARM build at the moment.

[2015-05-27 16:45] AliSoftware commented on #2
Couldn't it be possible to add a `pod rome` command that internally calls the same ruby code as `pod install --no-integrate` would do… but tweaking the in-memory ruby representation of the Podfile to add/simulate that `use_framework!` flag internally?
_(Just a thought, didn't check if that's actually possible given CP code architecture)_

[2015-05-27 16:52] segiddins commented on #2
That's totally possible @AliSoftware

[2015-05-28 21:12] brennanMKE opened #9 "Build universal binaries"
I created a shell script which could be used as a reference to incorporate this functionality into the Ruby plugin. (see link below) It simply uses the -sdk switch for xcodebuild to build for simulator and device then it uses lipo to combine them. I do not know Ruby so I provided as much as I could to make it easy to take it from here.

https://github.com/brennanMKE/BuiltInADay

### 3 Steps

 1. b

[2015-05-28 21:13] brennanMKE commented on #9
cc @neonichu

[2015-07-06 05:39] #1 closed

[2015-07-06 05:40] neonichu commented on #9
Closed by 1809d27939f61d99bc949de93773dff8fecae713

[2015-07-06 05:40] #9 closed

[2015-07-16 04:29] jhersh opened #10 "Subspec framework names"
My `Podfile` includes a few subspecs.

[code]

Maybe this should be named `ARAnalytics-CoreIOS.framework` rather than creating a subfolder?

[code]

[2015-07-16 09:42] hartbit opened #12 "Nothing in Rome folder"
I've trying out Rome with this Podfile:

[code]

And here's my attempt at building:

[code]

The Pods project in the Pods folder seems fine, but there's no Rome folder, and it printed `Built 0 frameworks`.

If it's any help, here's a link to a gist with the same command but in `--verbose` mode:

https://gist.github.com/hartbit/f06e919bb1320fa2f977

[2015-07-16 23:16] neonichu commented on #12
Which versions of CP and Rome are you using?

[2015-07-17 03:35] neonichu opened #14 "Enforce use of `use_frameworks!`"
Either complain when it isn't there or do #2

Currently, the `mv` will just fail.

[2015-07-17 03:37] segiddins commented on #14
Can you a pre-install hook to get `Config.instance.podfile` and add it?

[2015-07-17 03:38] segiddins commented on #14
(My vision for the new podfile will address this, btw, by making the integration strategy configurable, and the `Rome` integration strategy would be able to use the `Pods project` strategy internally)

[2015-07-17 03:41] neonichu opened #15 "Be more helpful when an incompatible Pod is used"
Currently known to be incompatible:

- anything which only consists of prebuilt binaries (we could copy frameworks over if they exist, but also consider things like Helpshift, which use `vendored_library` or in that case `library`)

[2015-07-17 03:43] neonichu commented on #14
Yah, I think there's some things to consider (see #15) before this can become an actual built-in installation strategy. It is still quite fragile :)

[2015-07-17 03:43] segiddins commented on #14
@neonichu sure, but we've got some time :)

[2015-07-17 17:49] neonichu commented on #10
Fixed by #13

[2015-07-17 17:49] #10 closed

[2015-07-18 19:32] keith opened #16 "Support pods which vendor frameworks"
As briefly discussed in https://github.com/neonichu/Rome/pull/13 Rome does not currently support Pods which vendor prebuilt frameworks. As @segiddins suggested we should just be able to copy the downloaded framework into the Rome directory.

I've taken a stab at this but haven't found a way to get the cached path of a specific spec. It seems this path is generated in `Pod::Downloader::Request.slug

[2015-07-18 19:48] segiddins opened #17 "Copy XCConfig"
Should we copy the public XCConfig to the rome directory?

[2015-07-18 19:54] segiddins opened #19 "A spec a day keeps the bugs at bay"

[2015-07-18 20:20] segiddins opened #20 "Create a strip frameworks script?"
i.e. https://github.com/realm/realm-cocoa/blob/master/scripts/strip-frameworks.sh

[2015-07-19 05:15] #16 closed

[2015-07-19 05:18] neonichu commented on #20
Maybe we can just link to that one from the README?

[2015-07-19 05:19] neonichu commented on #17
Sounds like a good idea. Maybe we should also tell the user about them if there any, they're easy to miss if one doesn't know they exist.

[2015-07-19 05:38] segiddins commented on #17
There will always be one

[2015-07-19 05:38] segiddins commented on #20
I'd rather we have one that can be invoked from the `Rome` directory

[2015-07-19 06:09] #2 closed

[2015-07-19 06:09] #14 closed

[2015-07-20 06:54] drewcrawford opened #22 "Errno::ENOENT"
When I build Mixpanel via Rome, I get `ENOENT`.

The project in this directory is just a freshly-created Xcode template project.

### Versions

Xcode Version 6.4 (6E35b)
OSX 10.10.4 (14E46)

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2015-07-20 14:29] neonichu commented on #22
This was possibly caused by #10, but there's also now slightly better logging for the case where lipo fails. In any case, this works now with the new 0.2.0 version that was just released.

[2015-07-20 14:29] #22 closed

[2015-07-20 14:30] neonichu commented on #12
Probably fixed by 8658bfc7c53cf5a430a7cc5f1f2a56e901723f09

[2015-07-20 14:30] #12 closed

[2015-07-22 19:07] michaeleiselsc opened #23 ""Unknown configuration whitelisted""
I get the following error when trying to build with cocoapods-rome using Cocoapods 0.35.0 (which can't be updated, so no worries if you can't figure it out), when I run `pod install`:

$ pod install
Updating local specs repositories
Analyzing dependencies
[!] Unknown configuration whitelisted: uiautomation.`

Any ideas what might be causing the issue?

[2015-07-22 19:49] segiddins commented on #23
Rome requires CocoaPods 0.38.

[2015-07-22 19:51] neonichu commented on #23
Indeed, I believe it would break because of the plugin API alone.

[2015-07-22 19:51] #23 closed

[2015-07-29 23:34] segiddins commented on #15
Does https://github.com/neonichu/Rome/pull/18 help this at all?

[2015-07-30 08:25] neonichu commented on #15
Not really, IMO we should just copy vendored frameworks over, CP doesn't need to touch them, but for vendored libraries, there's no good solution.

[2015-07-30 15:36] segiddins commented on #15
I think generating an xcconfig would go a long way? On the other hand, the user can still just drag vendored libs

[2015-07-30 15:41] neonichu commented on #15
Yah, but they also have to drag headers, so XCConfig sounds good

[2015-08-05 16:17] stepanhruda opened #24 "Add support for local specs (:path in Podfile)"
I have a Podfile that references local podspecs via _:path_, which I think is pretty common in a monorepo. After building all frameworks, I get

[code]

[2015-08-05 16:24] segiddins commented on #24
@stepanhruda can you please share the output of `pod install --verbose`? This isn't really enough info to debug with :/

[2015-08-05 16:54] stepanhruda commented on #24
Updated the output above

[2015-09-09 13:36] karthikprabhuA opened #26 "Not able to install Taylor framework - What i am doing wrong ?"
Installing Taylor framework fails and giv ing the following error "fatal: repository 'https://github.com/nypisces/Taylor.git/' not found"

PodFile
---Start----
platform :osx, '10.9'
platform :ios, '8.0'
plugin 'cocoapods-rome'

pod 'Taylor'

--End--

pod install
Updating local specs repositories

CocoaPods 0.39.0.beta.4 is available.
To update use: `gem install cocoapods --pre`
[!] This is a test

[2015-09-09 13:52] segiddins commented on #26
This isn't an issue with Rome -- the source for pods needs to be available in order to download them.

[2015-09-09 13:52] #26 closed

[2015-09-20 22:40] brennanMKE opened #27 "Unable to build Mapbox-iOS-SDK or HockeySDK"
The following `Podfile` configuration files badly. It appears that it could be due to the CocoaPod having a binary instead of source code though it still head headers. Perhaps Rome could adjust the process of assembling the framework if the binary is pre-prepared.

But to make this is more difficult problem to solve, the pre-compiled may be static so it cannot simply be added to the framework fold

[2015-10-01 19:00] keith commented on #19
wat

[2015-10-01 20:19] segiddins commented on #19
(Write tests)

[2015-10-01 21:59] neonichu commented on #19
but isn't TDD dead? <http://david.heinemeierhansson.com/2014/tdd-is-dead-long-live-testing.html>

[2015-10-01 23:28] kylef commented on #19
https://twitter.com/rob_rix/status/623697875340521472

[2015-10-20 09:47] hwaxxer opened #28 "fat file does not contain arm64"
My Podfile looks like this:

[code]

[code]

Running (0.2.0)

This pod has worked fine before when importing in an another project using `use_frameworks!`.

[2015-10-20 09:50] hwaxxer commented on #28
I'll just reopen this old issue instead: https://github.com/neonichu/Rome/issues/8

[2015-10-20 09:50] #28 closed

[2015-10-20 09:51] hwaxxer commented on #8
I'm still seeing this issue with 0.2.0.

[2015-10-20 11:59] hwaxxer commented on #8
#25 fixes this issue.

[2015-10-20 12:42] hwaxxer commented on #8
Looks like some frameworks (`AFNetworking`, `Alamofire`, `DateTools`) are placed outside of the `Configuration-sdk` folder.

[2015-10-20 12:50] neonichu commented on #8
Ah, I see what the problem is now, target deduplication in newer versions of CP. Would probably make sense to just disable it for Rome. I'll look into it later today.

[2015-10-20 13:44] hwaxxer commented on #8
Oh makes sense now. I couldn't figure out why they were disappearing. Thanks!

[2015-10-21 11:20] #8 closed

[2015-11-26 18:54] orta opened #32 "Move into CocoaPods core"
![Giphy](http://media4.giphy.com/media/104ueR8J1OPM2s/giphy.gif)

[2015-11-26 18:55] orta commented on #32
![Giphy](http://media4.giphy.com/media/xhsqdDoVXAJTa/giphy.gif)

[2015-11-26 18:55] orta commented on #32
![Giphy](http://media2.giphy.com/media/ypO01RIuQ3tHW/giphy.gif)

[2015-11-26 18:55] orta commented on #32
http://media4.giphy.com/media/qvdqF0PGFPfyg/giphy.gif

[2015-11-26 18:55] orta commented on #32
![Giphy](http://media2.giphy.com/media/10FUfTApAeoZK8/giphy.gif)

[2015-11-26 18:56] neonichu commented on #32
![](http://i.giphy.com/5XPb0FvIqylqg.gif)

[2015-11-26 18:56] neonichu commented on #32
![](https://media3.giphy.com/media/rXqENnCtc1UgE/200.gif)

[2015-11-26 20:53] funkyboy commented on #32
LOL

[2015-12-08 15:31] #24 closed

[2015-12-18 06:09] scottrhoyt commented on #19
![tep8yaw](https://cloud.githubusercontent.com/assets/4259250/11890593/c5de4c14-a50a-11e5-9f5e-1a1f19187547.png)

[2015-12-18 09:24] orta commented on #32
Would be awesome in this: https://github.com/CocoaPods/CocoaPods/commit/2a6d86a82b43c07699601c0a7cfaa7e3f892a647

[2015-12-18 09:25] orta commented on #32
As something like `:generate_products` /shurg

[2015-12-18 09:36] neonichu commented on #32
I'm less convinced we want it in CP itself considering that the Swift team seems to think that static libs are the future again :)

[2015-12-18 09:38] orta commented on #32
Is that really true for apps though? They've said that _frameworks_ are on their agenda, not sure about the dynamic bit. There's still valid space for people wanting the "I want to copy & paste it into my app" experience.

[2016-01-27 15:23] ExoticObjects opened #33 "Can't get it to work with local development pod"
I get this error:

[code]

Here's my Podfile:
[code]

And here's my podspec:

[code]

I'm using this command:

`pod _1.0.0.beta.2_ --verbose install`

This Podfile works fine when not using cocoapods-rome, so there are no issues there.

Any ideas?

[2016-01-27 15:26] segiddins commented on #33
I don't think Rome has been updated for the CocoaPods 1.0 beta yet.

[2016-01-27 15:28] ExoticObjects commented on #33
That's true. Just tested without and it works. But the [Compatibility with CP 1.0 beta](https://github.com/neonichu/Rome/commit/0eb0a10d17f58e18d97b5d9152c63506251f0c33) commit led me to think otherwise, so I assumed it'd be ok.

[2016-01-27 15:59] ExoticObjects commented on #33
Well, not so sure it's working, actually. I decided to try the dead-simple example in this project's readme:

[code]
 and that fails.

Here are the steps I took:
- Made simple Xcode project
- Tried both `pod _0.39.0_ install` and simply `pod install`
- Here's console output:

[code]

[2016-01-27 18:01] neonichu commented on #33
IIRC, commit 0eb0a10d17f58e18d97b5d9152c63506251f0c33 was only for making Rome installable together with 1.0 beta, so that further testing can be done.

The `PluginLoading` errors are related to having third-party Xcode plugins installed which don't have the right compatibility UUIDs, that's completely unrelated to Rome. Do you see any build-related errors after those?

[2016-01-27 18:32] ExoticObjects commented on #33
They're all plugin errors until this one:

[code]
What can I do about the plugin errors? Some of the plugins listed are things I don't care about, but I do care about others. And some seem vital, like:

[code]

[2016-01-27 18:38] neonichu commented on #33
Interesting, seems like the simulator that has been picked cannot actually be used. Could you share the output of `xcrun simctl list` please?

[2016-01-27 18:45] ExoticObjects commented on #33
[code]

[2016-01-27 18:49] neonichu commented on #33
Thanks, I see the issue now. Rome is not constraining the simulator search to the deployment target. This leads to it finding an 8.1 simulator in this case, but that is incompatible with the 9.0 deployment target.

[2016-01-27 18:54] ExoticObjects commented on #33
Ok. Glad I was able to help find an actual bug.

Can you shed any light on the plugin errors discussed above?

[2016-01-27 18:58] neonichu commented on #33
You can find some info about that here <http://buegling.com/blog/2014/6/5/xcode-6-plugins-and-you> — basically plugin authors have to update their plugins for each new version of Xcode or they won't get loaded.

[2016-01-27 19:01] ExoticObjects commented on #33
Ok, but one of the plugins listed is cocoapods!

And, I've built xcode projects on the command line before and not had this issue. Is Rome actually stopping the build because of these errors? (I can't know, as the simulator errors are definitely stopping my build). Odd that it would if `xcodebuild` doesn't.

[2016-01-27 19:03] neonichu commented on #33
Ah, this is not CocoaPods the tool, but an Xcode plugin for it, possibly <https://github.com/kattrali/cocoapods-xcode-plugin>. Those errors won't affect the build.

[2016-01-27 19:03] neonichu commented on #33
The actual bug with simulator search should be fixed by ac49307af83c8a5fc64fb4709b09a79da391a80e, thanks for reporting this, @ExoticObjects!

[2016-01-27 19:03] #33 closed

[2016-01-27 19:11] neonichu commented on #33
Shipped as 0.4.2

[2016-01-27 19:26] ExoticObjects commented on #33
Sweet. After running `gem update cocoapods-rome` this worked. Thanks!

[2016-02-03 16:49] ExoticObjects opened #34 "Any chance you could make use of xcpretty to make xcodebuild output more sane?"
https://github.com/supermarin/xcpretty

Using Rome results in the generation of, I'm guessing, 50k lines of output. That's about as useful as zero lines out output. Apple thinks that's a good idea, but you could make the output more useful in Rome!

[2016-02-03 16:50] segiddins commented on #34
@ExoticObjects I think a PR  might be appreciated by @neonichu

[2016-02-03 16:50] neonichu commented on #34
I'm a bit reluctant to do that as the full output is only shown in case of build errors and `xcpretty` would possibly mask information that is needed to debug them.

[2016-02-03 16:51] #34 closed

[2016-02-03 17:51] ExoticObjects commented on #34
@neonichu - if you look on the xcpretty page under 'Raw xcodebuild output' it shows a way to handle that issue.
@segiddins - I'd love to submit a pull request. But I don't know how to run Rome locally so that I can work on it. All I know how to do with a cocoapods plugin like Rome is what your readme tells me: `plugin 'cocoapods-rome.'` [This guide](https://guides.cocoapods.org/contributing/contri

[2016-02-03 17:57] neonichu commented on #34
@ExoticObjects that would still make Rome harder to use in my opinion, now you have two places to look for an error. I feel like `xcpretty` is a good tool for cases where you want to look at the output in the good case most times, but not so much as an error log.

[2016-02-03 19:22] ExoticObjects opened #35 "Getting 'no implicit conversion of Pathname into String' error"
Here's the bug output:

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Error

[code]

I'll try to recreate the issue in a project that I can share with you. What's odd is that this worked the other day... Not sure what pathname is attempting to implicitly be converted into a string, as the

[2016-02-04 00:18] ExoticObjects opened #36 "Question: How is Cocoapods Rome different than Cocoapods-Packager?"
They are clearly related. [Cocoapods-packager](https://github.com/CocoaPods/cocoapods-packager) can  also create dynamic libraries.

What are the specific differences and reasons to use one instead of the other?

[2016-02-04 09:42] neonichu commented on #36
The idea of the packager is to create a single binary, which vendors all its dependencies, so that people can offer a compiled version of their Pod. In contrast to that, Rome builds each Pod individually for manual integration into your own project.

[2016-02-04 09:45] #36 closed

[2016-02-10 19:58] ExoticObjects commented on #35
So, Rome is actually creating the frameworks - they end up in a 'build' folder in the same directory as the Podfile. Framework compilation succeeds. Something goes wrong after that...

This is happening when compiling a large project, and I can't recreate it in a simpler test case. Do the error messages tell you anything meaningful? I'm not sure how to proceed.

[2016-02-22 19:57] ExoticObjects commented on #35
So, I was able to recreate this with a simple project and podspec.

Here's the project that contains the podfile: https://github.com/ExoticObjects/test_use_frameworks_2

and the local development pod that contains the podspec: https://github.com/ExoticObjects/test_pod_2

podspec:

[code]

Podfile
[code]

[2016-03-15 17:57] jcampbell05 opened #37 "Use multiple platforms in one Podfile"
I am currently experiencing an issue with rome failing to rename a framework whilst building.

I 've attached my build logs:

[code]

### Error

[code]

[2016-03-15 19:42] neonichu commented on #37
Using multiple platforms in one Podfile currently doesn't work with Rome in general, IIRC.

[2016-03-15 22:56] jcampbell05 commented on #37
Do you have any pointers as to why this is ? Is this just a limitation of the current CocoaPods, is there anything I could do to help ?

[2016-03-16 07:47] neonichu commented on #37
IIRC, there's two issues, on the one hand deduplication issues with multiple platforms in 0.39, but also lack of support for scoping the build output. There might also be issues with discovering all the targets to build, I haven't dug into it too much.

[2016-04-07 07:04] petripartanen opened #38 "NoMethodError - with Cocoapods-1.0.0.beta.6"
――― MARKDOWN TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

### Command

[code]

### Report

* What did you do?
Tried installing Swiftline

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[2016-04-07 07:09] segiddins commented on #38
Rome is not yet compatible with CocoaPods 1.0, iirc.

[2016-04-07 07:20] petripartanen commented on #38
alright, thanks for the reply

[2016-04-07 13:28] neonichu commented on #38
Yep, I got a branch, will push it in the next few days. The gem will probably not be updated until 1.0 final, though.

[2016-04-08 15:50] neonichu commented on #38
See #39

[2016-04-08 15:50] #38 closed

[2016-05-17 10:26] jcampbell05 commented on #37
@neonichu  Do you think this would be resolved for CocoaPods 1.0 ?

[2016-05-21 10:45] #37 closed

[2016-05-21 10:47] jcampbell05 opened #40 "It is necessary to specify the platform in the Podfile if not integrating."
`It is necessary to specify the platform in the Podfile if not integrating.`

[code]

When using 1.0, with the abstract targets this shouldn't be needed, it should build it correctly across platforms for multiple targets.

Related to #37

[2016-05-21 11:15] neonichu commented on #40
I don't think using Rome should change the semantics of the Podfile. The same one should work with and without Rome.

[2016-05-21 17:50] jcampbell05 commented on #40
@neonichu I'll run this again but it appeared to work without Rome on 1.0.

[2016-05-21 21:33] neonichu commented on #40
It'll work with integration, because the platform is inferred from the Xcode project. But without project integration it shouldn't work, regardless of Rome usage.

It might be a thing to consider to make this work within CP generally, as you're specifying platforms for all concrete targets.

[2016-05-22 09:25] foobra commented on #32
happy to see this going to core

[2016-05-22 11:26] orta commented on #32
now that ABI compat has been pushed back a yeah, I guess static libs are delayed again?

[2016-07-18 10:08] absolutlabs opened #41 "symbol(s) not found for architecture arm64"
Hello

I read that there were several similar issues since last year but as I understand they are fixed &  closed now. I think I'm missing something obvious, but I can't figure it out. :/

Here is my podfile :
[code]

The framework is built with ```pod install```, I import it in my project, but then I can only launch it  on the simulator.
When trying to run it on the iPhone I got the errors
[code]

[2016-07-18 11:51] #41 closed

[2016-07-18 11:53] neonichu commented on #41
Thanks for reporting, I shipped a new release which fixes this. For simplicity's sake, it requires CocoaPods 1.1.0, though, which is currently in beta.

[2016-07-18 12:13] absolutlabs commented on #41
it works great ! thank you :)

[2016-07-18 14:25] absolutlabs opened #43 "Device architectures are missing for some pods"
Hello

With the last fix ( #42 ) simulator & device architectures are correctly built into one framework for most of the pods I tried, but I only get simulator ones for few of them.
For example, with  [Underscore.m](https://github.com/robb/Underscore.m) or  [UINavigationItem-Loading](https://github.com/Just-/UINavigationItem-Loading)

Are the pods "invalid" in some way ?

thank you !

[2016-07-18 14:35] neonichu commented on #43
Might be that the build path isn't correctly determined because the names aren't C99 identifiers — I'll investigate!

[2016-07-18 14:59] #43 closed

[2016-07-18 15:01] neonichu commented on #43
The issue was as expected, the path to the binaries for `lipo` was incorrect, depending on the pod's name. Fixed and shipped in version 0.7.0

[2016-07-18 15:03] absolutlabs commented on #43
works perfectly !
thank you :)

[2016-07-18 15:25] absolutlabs opened #44 "[Enhancement] Build only missing frameworks (= new pods)"
Hello

Some pods take a really long time to build ([Realm](https://github.com/realm/realm-cocoa) for exemple) , or some Podfile may refer to dozen of pods. Adding a new pod in the Podfile currently means rebuilding every pods.

A cool enhancement would be to build only frameworks that are missing in /Rome folder.
_or if a new version is available & has been downloaded with Cocoapods_

:)

[2016-07-19 07:53] absolutlabs commented on #44
Hello

I didn't create a pull request because this is the first time I write in ruby so the code might be _( / may be / is )_ ugly :stuck_out_tongue_winking_eye:

It only build new pods (those without corresponding .framework in /Rome folder).

If a new version of a pod is downloaded, it won't be built unless the framework has been previously manually deleted.

**post_install.rb**

[code]

Far fro

[2016-07-19 09:00] neonichu commented on #44
I'm not a big fan of making this based solely on the presence of the `.framework` on the filesystem — that's just bound to confuse people.

[2016-07-22 05:57] tonychan818 opened #45 "Your Podfile requires that the plugin `cocoapods-rome` be installed. Please install it and try installation again."
when run pod install,
it shows
Your Podfile requires that the plugin `cocoapods-rome` be installed. Please install it and try installation again.
any idea?

[2016-07-22 16:11] neonichu commented on #45
What's the output of `gem list --local|grep rome`? Do you see any errors printed on the console about the rome plugin failing to load?

[2016-08-20 06:04] MickeyHub commented on #45
I did encountered it just now, the reason is Load plugin error, because I use CocoaPods 1.0.1, not CocoaPods.1.1.0.beta

[2016-08-29 12:30] jeremierichard opened #47 "No frameworks copied if path contains "Pods""
If the path to podfile contains "Pods", there are no frameworks copied to output

this is due to those lines
https://github.com/neonichu/Rome/blob/master/lib/cocoapods-rome/post_install.rb#L67-L68

[2016-08-29 16:39] segiddins commented on #47
A PR changing that to `Pods[^.]+\.framework` would likely be appreciated!

[2016-09-13 10:54] mjholgate opened #49 "Please would it be possible to do a new release?"
@neonichu  Please would it be possible to do a new release with my recently merged PR?

Many thanks!
Matt.

[2016-09-13 14:08] neonichu commented on #49
I'd like to wait for the 1.1 final of CP before making the next release.

[2016-09-13 14:09] mjholgate commented on #49
Ah, no worries, thanks!

[2016-09-13 14:09] #49 closed

[2016-09-23 11:05] toshi0383 opened #50 "Linker error when archiving tvOS app."
[code]

Any idea .. ?

[2016-09-24 00:25] toshi0383 commented on #50
How do you set BITCODE_GENERATION_MODE=bitcode to Rome ?

[2016-09-24 00:37] ikesyo commented on #50
@toshi0383 Using `post_install` hook might help?

[code]

[2016-09-24 02:22] toshi0383 commented on #50
@ikesyo It worked !!
Also successfully uploaded archived app to iTunesConnect.
Thanks a lot !

p.s. I also added `carthage copy-frameworks` Build Phase b/c the app crashed due to `Image not found` error.

[2016-09-24 02:22] #50 closed

[2016-10-24 16:12] RafaelPlantard opened #51 "Error loading the plugin `cocoapods-rome-0.7.0`."
`pod install` is generating this issue:

[code]

[2016-10-25 15:58] joedaniels29 opened #52 "My Podfile serves ios and macOS apps, can't integrate rome."
I have a kind of complex pod file:

[code]

But pod install fails
`/Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -project Pods.xcodeproj -scheme Pods-IosApp -configuration Release -sdk iphoneos`
Any idea how I can get rome to work for my Commandline app?

[2016-12-08 12:48] castus commented on #45
Still occurs, I'm using ```cocoapods (1.1.1)``` and ```cocoapods-rome (0.6.0)```
Any idea?

[2016-12-11 08:33] mgrebenets commented on #45
I can't get `cocoapods (1.1.1)` and `cocoapods-rome (0.7.0)` installed at the same time due to dependencies issue:

[code]

[2016-12-21 19:16] soffes opened #54 "Fails in `integrate_targets=`"
### Command

[code]

### Report

* What did you do?

    Tried to run `pod install --repo-update`

* What did you expect to happen?

    Built frameworks in the `Rome` directory.

* What happened instead?

    This error.

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2016-12-21 19:57] segiddins commented on #54
Can you try update Rome to the latest release? Thanks!

[2016-12-21 20:07] soffes commented on #54
Just did `gem install cocoapods-rome` before trying. Weird that I got an old version. Definitely never had it installed on this computer or bundle before.

Just decided to not use Rome/CocoaPods for this project for now though so closing. If someone else runs into it, I'm sure they'll report it.

[2016-12-21 20:07] #54 closed

[2017-01-11 21:30] klaas commented on #51
Any chance to see #53 get pulled soon?

[2017-01-12 00:01] segiddins commented on #51
@klaas it's just awaiting review

[2017-01-12 13:03] #51 closed

[2017-01-15 14:32] danielmhanover commented on #45
+1

[2017-01-15 15:32] danielmhanover commented on #43
Is this issue fixed in the CP-1.1.0 branch?

[2017-01-20 11:30] tcamin opened #55 "Issues installing"
I'm having troubles trying to use the plugin with CP 1.2.0.rc.1.

Version 0.6, which gets installed via `gem install cocoapods-rome`, fails to install because of a conflict with fourflusher version (1.x required by cocoapods-rome, 2.x CP).

I was able to manually build and install latest master (v.0.7), however launching pod install with the sample Podfile doesn't work and fails with a `[!] Your P

[2017-01-24 12:07] nikolasburk commented on #55
I am having installation issues as well. Here is what I did:

[code]

Output:

[code]

Added Podfile:

[code]

Ran `pod install`

Output:

[code]

[2017-02-01 12:57] matynz commented on #36
Sorry for waking up an old issue.

@neonichu
I'm using cocoapods with use_frameworks activates(we use swift)
But could I use rome to wrap all pods, which my project depends on but can't install with cocoapods because of transitive dependencies that include static binaries, in a dinamyc framework?

[2017-02-06 13:44] AliSoftware commented on #55
Thanks for the bug report

Indeed, this is already fixed in `master`, but we need to release a new version of `cocoagpods-rome` (0.8.0) to push that fix on RubyGems. We'll hopefully do that ASAP, sorry for the inconvenience.

In the meantime, if you don't want to wait too long for the new release, you could use the `master` of `cocoapods-rome` directly instead. To do that, simply use a `Gemfile` l

[2017-02-08 22:14] PinwheelAi commented on #35
I am facing the same error for pod install. Any update on this ??

[2017-02-08 22:42] DanToml commented on #35
@PinwheelAi could you please file a new issue with more details?

[2017-02-10 17:27] AliSoftware commented on #55
CocoaPods-Rome 0.8.0 has finally been released 🎉 you should be able to install and use it with CocoaPods 1.2 now!

[2017-03-29 07:56] MeGaPk commented on #55
@AliSoftware maybe you close this issue :)?

[2017-03-29 07:57] AliSoftware commented on #55
@MeGaPk Indeed we can close this issue.

I don't have the rights to do so (no "Close Issue" button for me), it has to be done by the issue author or by an owner of the repo though.

[2017-03-29 07:59] MeGaPk commented on #55
@AliSoftware sorry :(

@neonichu @tcamin Can you please close this issue? If problem has resolved.

[2017-03-29 08:04] #55 closed

[2017-04-13 07:27] openreply-dleinhaeuser opened #58 "`pod install` fails if pod not used by concrete target"
`cocoapods` version 1.2.1
`cocoapods-rome` version 0.8.0

Given a `Podfile` like the following:

[code]

I would expect `pod install` to download the `XcodeEditor` pod and install it in the `Rome` folder.
Instead I get the following error:
[code]

[2017-04-13 15:14] orta commented on #58
This is CocoaPods raising an error before Rome can run it's pre-installer. To make this work, Rome would need to suppress this warning.

[2017-10-31 08:46] QuentinArnault opened #59 "lipo failure with Xcode 9"
Hi,

Since I installed Xcode 9, I have a problème when running `pod install`. With Xcode 8 it worked (but I have not had to add the post_install hook). Here is the output:

[code]

System:
XCode 9 Version 9.0.1 (9A1004)
Cocoapod 1.4.0.beta.2
Plugin Rome 0.8.0
And my Podfile:

[code]

Regards,
Quentin

[2017-11-10 18:04] Saik0s commented on #59
Hi Quentin,

I did try to reproduce your problem with `Cocoapods 1.3.1` and `Cocoapods 1.4.0.beta.2`. But in both cases, `Alamofire.framework` was successfully built and placed in the `Rome` folder. I simply created a new project and added `Podfile` to the project folder. The only difference is that I had to specify platform because of this error:
**`[!] It is necessary to specify the platform in

[2017-11-10 23:30] QuentinArnault commented on #59
Thanks for your return.

So here is my `pod env `

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

### Podfile

[code]

[2017-11-11 00:49] QuentinArnault commented on #59
I tried after an Xcode update to 9.1 and same result.

I attached output of `pod install --verbose` if it can help.

[2017-11-11 01:27] Saik0s commented on #59
I think that renaming `rementis - delivery` folder to something like `rementis_delivery` will fix your issue. It looks like spaces in the project path cause this error.

[2017-11-11 08:30] QuentinArnault commented on #59
`Pod installation complete! There is 1 dependency from the Podfile and 1 total pod installed.`

Good old "space in path"...

Thanks for the tip.

[2018-03-27 04:22] jasonm23 opened #60 "Specifying xcconfig params (such as SWIFT_VERSION) for individual pods"
As pod package developers don't expect Cocoapods to manage building frameworks using Rome, podspecs don't include xcconfig / build parameters, such as `SWIFT_VERSION`.

So when trying to run `pod install` or `pod update` with `plugin 'cocoapods-rome'` in the `Podfile` there are often errors about missing build params.

I wonder if Rome could read additional custom params from the `Podfile` so that

[2018-03-27 06:40] tcamin commented on #60
Hi, I had the same problem and just opened PR #61 to fix that

HTH

[2018-03-30 02:15] jasonm23 commented on #60
Thank you @tcamin

[2018-04-09 10:51] orta commented on #60
Yep agree, closing because of the post_install hook

[2018-04-09 10:51] #60 closed

[2018-04-12 18:13] deepumukundan opened #64 "Error when trying to build the sample"
Got the below error when trying to install Alamofire as specified in the code sample.
Then I commented out line 73 which was calling the crashing method cocoapods-rome-1.0.0/lib/cocoapods-rome/post_install.rb:73 and it worked. Looks like build_settings is getting nil.

### Error

[code]
   CocoaPods : 1.5.0
        Ruby : ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]
    RubyGems : 2

[2018-04-13 07:09] Ruenzuo commented on #64
I wonder why the build settings in the Pods projects doesn't exist. I'll try to reproduce this myself, meanwhile you can opt-out of dSYM generation with `dsym: false` in your Podfile and avoid this error.

[2018-04-13 15:29] TomasLinhart opened #65 "x86_64 architecture is missing from built frameworks"
I tried to build with a framework with Rome, but for some reason it does not build for x86_64 architecture in Debug. In Release configuration even i386 is missing.

I tried with CocoaPods 1.4 and CocoaPods 1.5 and same result. I use Xcode 9.3 so it might be related to that.

[2018-04-13 15:45] TomasLinhart opened #66 "Bundles are not placed to Rome folder"
I tried Rome with ZendeskSDK that is precompiled and comes with bundles. Rome correctly puts the precompiled frameworks in Rome folder, but it ignores the bundles.

[2018-04-13 15:47] orta commented on #66
Sounds like a real bug, would you like to try fix this?

[2018-04-13 16:07] TomasLinhart commented on #66
I see it could be done in:

[code]

Right? How would I get `resources` field from Podspec there?

[2018-04-14 09:28] orta commented on #66
I’d expect spec to have a .resources

[2018-05-18 18:42] jugutier opened #67 "Rome crashes with cocoapods 1.5.2"
### Report

* What did you do?
run `pod install` on an empty folder with just this Podfile

[code]

* What did you expect to happen?

To get an output folder with the compiled `Alamofire` framework

* What happened instead?

Got an error.

### Command

[code]

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2018-05-23 08:43] Ruenzuo commented on #67
Could be related to https://github.com/CocoaPods/Rome/pull/63, you can try disabling dsym generation or using the plugin from master with the fix.

[2018-05-24 01:41] jugutier commented on #67
Hi @Ruenzuo Thanks for looking into this.

I had noticed that issue and got something working using a sample app.

Overall I guess the big question was if I could run rome with just a podfile even without an app that holds a real target by the name `caesar` (in this case) The code that used to have an error before #63 seemed to expect a real target which made me think this was not possible.

After

[2018-05-24 01:46] jugutier commented on #45
This doesn't seem like an issue anymore with cocoapods 1.5.2 & rome 1.0.0, should we close it?

[2018-05-24 01:48] jugutier commented on #58
@openreply-dleinhaeuser you can get your frameworks with just a Podfille but you have to specify some target on it even if it doesn't exist just to get cocoapods to not complain.
See my example here: https://github.com/CocoaPods/Rome/issues/67

[2018-05-24 01:52] jugutier commented on #27
is this still an issue?

[2018-05-24 01:53] jugutier commented on #35
Is this still an issue?

[2018-05-24 02:02] jugutier commented on #65
Do you know if the pod you added in your podfile actually supports that architecture? could you upload an example Podfile you used?

[2018-05-24 11:53] TomasLinhart commented on #65
Sure, this is my Podfile:

[code]

After that I run `pod install` and go to `Rome` and run `lipo -info Alamofire.framework/Alamofire` and it prints only `Architectures in the fat file: Alamofire.framework/Alamofire are: armv7 arm64`.

[2018-05-25 05:36] mgrebenets commented on #45
Works OK now for versions `1.5.0` and `0.8.0` of CocoaPods and CocoaPod Rome respectively.

[2018-05-25 05:56] #45 closed

[2018-06-11 14:55] Ruenzuo commented on #67
@jugutier I tried to make this possible in https://github.com/CocoaPods/CocoaPods/pull/7588 but as you can see in the reply the problem is related to CocoaPods disabling integration. Your approach makes a lot of sense, dSYM should work in that case (you can try it now by using master in your Gemfile).

Feel free to send a PR adding this information to the README, I think it would be useful for som

[2018-06-22 03:19] jugutier commented on #67
agreed @Ruenzuo, readme enhancements now added in #69

[2018-06-22 03:21] jugutier commented on #67
also it seems like this issue would be resolved with the latest in master, but I will close this issue when a new version of rome is released.

[2018-07-12 15:01] BasThomas opened #70 "Xcode 10 Building frameworks failing"
Building frameworks with Xcode 10 is not working for me.

Using v1.0.0.

This is my output:

[code]

Does anybody has an idea of what's going wrong?

[2018-07-20 14:54] Ruenzuo commented on #70
Possibly related to: https://github.com/CocoaPods/CocoaPods/issues/7857

[2018-07-22 04:33] #66 closed

[2018-07-23 11:19] Ruenzuo commented on #70
I was able to reproduce the error in this project: [cocoapods-rome-xcode-10-toolchain-problem-demo](https://github.com/Ruenzuo/cocoapods-rome-xcode-10-toolchain-problem-demo)

[2018-07-24 12:36] Ruenzuo commented on #70
@BasThomas can you try this out? https://github.com/CocoaPods/CocoaPods/compare/master...Ruenzuo:update_symroot

[2018-07-24 13:55] BasThomas commented on #70
Hey @Ruenzuo — I can still reproduce it in your branch.

I did some more digging and found out that this really is an issue with the new build system. The error `build input file cannot be found` is there because of the new build system optimizations, and re-running Rome after setting the generated `Pods.xcodeproj`'s build system to the old one, it works.

I can also see that at the time of these

[2018-07-24 14:01] Ruenzuo commented on #70
Thanks for checking.

How did you do this? With the Xcode UI?

Also, you might want to drop your findings on the CocoaPods issue so more people is aware of the workaround for now.

[2018-07-31 08:02] KieranLafferty commented on #65
I think it has something to do with the `dsym: false` option. Is this expected behavior? Is there any workaround to make sure that x86_64 is included with `dsym: false`? I actually need to use `dsym: false` since cocoapods crashes for me when installing `react-native` pod  if I don't have that setting specified

[2018-08-21 09:14] BasThomas commented on #70
This has been fixed in the build system by Apple in Xcode 10 beta 6.

[2018-08-21 09:14] #70 closed

[2018-11-03 16:15] alokc83 opened #73 "Issues with adding firebase through rome"
<img width="517" alt="screen shot 2018-11-03 at 11 09 24 am" src="https://user-images.githubusercontent.com/59144/47954565-52db7e80-df59-11e8-84ae-7f7fe818f8ce.png">
Getting these error when adding firebase through "Rome". Only difference that I see Rome doesn't create an umbrella framework called "Firebase"
There is no issue if I add these frameworks as cocoapods, which is undesirable.

[2018-11-03 16:34] alokc83 commented on #73
@paulb777 : thanks a lot quick reply. I followed all the all the steps. It seems it doesn't have any effect. I have the same errors.

[2018-11-03 16:57] paulb777 commented on #73
@alokc83 Based on googling that error message, it might be related to ./Rome/FirebaseCoreDiagnostics.framework/Modules/module.modulemap not having an umbrella header, but I'm not able to reproduce the error.  What version of Xcode are you building with?  Does adding an umbrella header to that modulemap file make a difference?

[2018-11-03 17:01] alokc83 commented on #73
@paulb777 : I am using Xcode 10.1 and Cocoapods 1.5.2

[2018-11-05 15:49] #47 closed

[2018-11-14 03:37] bpoplauschi opened #75 "pre_compile hook is called to late with CocoaPods 1.6.0.beta.2"
## Report

What did you do?
- run `pod install` on an empty folder with just this `Podfile`
[code]

- What did you expect to happen?
To get an output folder with the compiled Alamofire framework

- What happened instead?
Got the `SWIFT_VERSION` missing error.

## Command
```pod install```

## Stack
[code]

## Plugins

[code]

## Podfile

[code]

## Error

[code]

[2018-11-14 03:56] dnkoutso commented on #75
I don think that is related with this project.

[2018-11-14 12:52] wudijimao opened #76 "Need support to static framework"
I use the Crashlytics.framework  witch is a static framework. And I got error below:

The 'Pods-XXXXX' target has transitive dependencies that include static binaries: (/Users/xxxx/Documents/Projects/xxxx/Pods/Crashlytics/iOS/Crashlytics.framework)

Really need static framework support!!   Thank you!!

[2018-11-14 14:46] paulb777 commented on #76
See [here](https://github.com/firebase/firebase-ios-sdk/blob/master/Rome.md) for usage instructions for the static framework Firebase pods with Rome. Something similar should work with the Crashlytics pod.

Based on the error message, I suspect that you're running into the more general restriction of trying to have a dynamic framework CocoaPod depend on a static framework one.

[2019-01-21 09:39] bpoplauschi commented on #44
@neonichu Hi there. I see this is an old discussion, but do you have any suggestion about being able to recompile just the pods that are new or upgraded? Basically similar to what `pod install` does without the Rome plugin?
In our case, we are using a caching system to store all the precompiled binaries and would like to change them only if needed. As the system is now, running `pod install` will

[2019-03-06 16:08] Thomvis commented on #75
I encountered the same problem. Downgrading to 1.5.3 consistently solves the issue for me.

[2019-03-06 16:48] bpoplauschi commented on #75
@Thomvis same for me.
I never got a response back from the CP team on this issue. Maybe it's related to @dnkoutso 's comment. Why do you think it's not related to this project? I described a clear scenario where the plugin doesn't function correctly with CocoaPods 1.6.0.beta.2

[2019-03-29 06:01] whalemare commented on #45
Im my case it`s be not CocoaPods error, but my terminal environment.

After installing `gem` dependency and run `pod install` I will get this error each time.
But the cause of the error is not in the fact that the dependence is not established, but in the fact that it could **not be found**.

So, I am running this command for found more info about my dependency location:
 `gem info cocoapods-fix-r

[2019-04-08 13:01] Unknoob commented on #75
Getting the same error with Cocoapods 1.6.1, downgrading to 1.5.3 also solved the issue for me.

[2019-05-03 05:31] dirkoswanepoel commented on #75
Unfortunately the Xcode 10.2 simulators don't work with cocoapods 1.5.3 for me. The version of fourflusher used in cocoapods 1.5.3 doesn't support xcode 10.2. And I also get the same "`Alamofire` does not specify a Swift version and none of the targets" error with cocoapods 1.6.1.

[2019-05-03 12:18] bpoplauschi commented on #75
Same issue happens with CocoaPods `1.7.0.rc.1`

[2019-05-03 13:25] Unknoob commented on #75
I was hoping `CocoaPods 1.7.0` would fix this issue. Maybe the issue should be posted to the CocoaPods project?

[2019-05-07 08:39] dirkoswanepoel commented on #75
Is there any workaround?

[2019-05-07 19:20] Unknoob commented on #75
Only thing that worked for me is using `CocoaPods 1.5.3`

[2019-05-16 10:22] dirkoswanepoel commented on #75
Has someone tried this on Cocoapods 1.7.0.rc.2

[2019-05-20 19:49] Unknoob commented on #75
Can confirm `pre_compile` hooks still not working on `Cocoapods 1.7.0.rc.2`
:(

[2019-05-20 21:28] Unknoob commented on #75
I opened an [issue](https://github.com/CocoaPods/CocoaPods/issues/8828) on the Cocoapods repo and dnkoutso helped me find a fix.

Just add this to your Podfile:
[code]

It will modify the spec earlier and the compilation will work.

[2019-05-21 03:41] dirkoswanepoel commented on #75
I’ve also found that the pre release version of Alamofire works. It includes the Swift version.

[2019-05-21 07:38] bpoplauschi commented on #75
Very nice @Unknoob - appreciate your solution

[2019-05-21 15:51] bpoplauschi commented on #75
Update and weird case: if anyone still sees the error after applying the fix above
[code]

it might be because they are only explicitly picking subspecs from a pod in their `Podfile` and this leads to `installer.analysis_result.specifications` not containing the target for the Pod.

Example
[code]

and the simple fix is just explicitly adding the pod without any subspec
[code]

[2019-06-13 14:22] jlnr commented on #75
With CocoaPods 1.7.1, I had to update the workaround to use the new pluralized `swift_versions` attribute:

`s.swift_versions << '4.2' if s.swift_versions.empty?`

[2019-07-03 07:26] tcamin opened #81 "Static frameworks with resource_bundles"
I'm unsure whether this is an issue with CococaPods or cocoapods-rome, but starting with CocoaPods 1.7.x resource_bundles are no longer copied inside the static framework that is being built.

For example, take the following Podfile:
[code]

Where I'm pointing to a fork of Material (for the sake of this issue report) that is species the pod to produce a static framework.

With CocoaPods 1.6.2 and

[2019-07-26 01:33] DrewKiino commented on #73
I was able to add Firebase with Rome through XCodegen as my project builder. but looking at the files I'm sure you should be able to add them in manually with the given configuration too

https://github.com/firebase/firebase-ios-sdk/issues/3432

[2019-09-03 08:35] jblorenzo opened #82 "Unknown configuration whitelisted: fabric. CocoaPods found debug and release, did you mean one of these"
While doing `pod install` i get this error

[2019-12-10 10:35] manuyavuz-pointr opened #83 "gemspec is locked to cocoapods `=1.8.0.beta.1`"
@dnkoutso shouldn't we relax this constraint? Currently master branch can't be used with any other CocoaPods version.

[2020-01-14 09:31] dirkoswanepoel opened #85 "Is Rome still actively supported?"
It seems that the last release was years ago, so I'd like to know whether Rome is still actively being developed.

[2020-01-21 13:39] jblorenzo commented on #82
This was caused by a custom `:configurations => 'Fabric' ` in the Podfile

[2020-01-21 13:39] #82 closed

[2020-01-21 13:40] jblorenzo opened #86 "Error Swift_Version missing"
This is on top of my Podfile

[code]

when i run pod install i get the following

[code]

[2020-01-21 13:44] #86 closed

[2020-05-05 14:00] tapwork commented on #86
same here. how did you fix this?

[2020-05-05 23:32] amorde commented on #85
None of the current active CocoaPods contributors use Rome, nor have we worked on it's codebase much. If you use Rome and would like to continue using it going forward I'd highly recommend contributing

[2020-05-21 13:22] bpoplauschi commented on #75
Update for CocoaPods 1.9.1:
- setting either `s.swift_version` or `s.swift_versions` doesn't entirely do the job, as apparently both will affect the value of the `swift_versions` array, but `swift_version` remains nil and fails
- the only solution I could find was to use
[code]
That `current_target_definition.swift_version` gets picked up and set as the Swift version for those pods that are missin

[2021-01-08 03:25] kushalpal17 commented on #65
missing simulator architecture. Tested on Xcode 12

[2021-02-18 02:50] kj800x commented on #65
I ran into this today too. It looks like https://github.com/CocoaPods/Rome/pull/89 will fix it.

[2021-03-23 11:14] kambala-decapitator opened #91 "simulator build produces _CodeSignature directories"
as a workaround I use:

[code]

[2021-03-24 11:38] kambala-decapitator commented on #91
turns out it's `xcodebuild`'s fault, a better solution is to use `CODE_SIGNING_ALLOWED=NO` build setting

[2021-07-29 06:00] haifengkao commented on #85
binary cache does the similar stuff with active support
https://github.com/grab/cocoapods-binary-cache